/TPC - OLAP/bin/TPC - OLAP.asdatabase
/TPC - OLAP/bin/TPC - OLAP.configsettings
/TPC - OLAP/obj/Development/Incrementalhapshot.xml
/TPC - OLAP/obj/Development/LastBuilt.xml
/TPC - OLAP/TPC - OLAP.dwproj
/TPC - OLAP/TPC DW.ds
/TPC - OLAP/.vs/TPC - OLAP/v15.suo