/TPC - OLAP/bin/TPC - OLAP.asdatabase
/TPC - OLAP/bin/TPC - OLAP.configsettings
/TPC - OLAP/obj/Development/Incrementalhapshot.xml
/TPC - OLAP/obj/Development/LastBuilt.xml
/TPC - OLAP/TPC - OLAP.dwproj
/TPC - OLAP/TPC DW.ds
/TPC - OLAP/.vs/TPC - OLAP/v15.suo
TPC - OLAP/.vs/TPC - OLAP/v15/

TPC - OLAP/TPC - OLAP/bin/TPC - OLAP.asdatabase

TPC - OLAP/TPC - OLAP/obj/Development/IncrementalShapshot.xml

TPC - OLAP/TPC - OLAP/obj/Development/LastBuilt.xml
TPC - OLAP/TPC - OLAP/TPC DW.ds
TPC - OLAP/TPC - OLAP/bin/TPC - OLAP.configsettings
TPC - OLAP/TPC - OLAP/bin/TPC - OLAP.configsettings
TPC - OLAP/TPC - OLAP/TPC - OLAP.dwproj
TPC - OLAP/TPC - OLAP/TPC - OLAP.dwproj.user
TPC - OLAP/TPC - OLAP/TPC DW.ds

TPC - ETL/.vs/TPC - ETL/v15/

TPC - ETL/TPC/TPC.dtsx
